__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
*.db
*.sqlite3
*.log

node_modules/
.next/
out/
build/
npm-debug.log*

.env
.env.local
.env.production
.env.development.local

.vscode/
.idea/
.DS_Store
